.body {
    background-color: #fefefa;
}

.homebutton {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.homegrid {
    display: grid;
    grid-template-columns: 25% 70% 5%;
    object-fit: cover;
}

.images {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image {
    object-fit: cover;
    width: 90%;
    margin-top: 10px;
    margin-left: 5px;
    object-position: center center;
}

.image2 {
    object-fit: cover;
    width: 90%;
    margin-top: 20px;
    margin-left: 5px;
    object-position: center center; 
}

.leftbanner {
    display: grid;
    grid-template-rows: 30% 70%;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 1cm;
    margin-left: 10px;
    vertical-align:text-top;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 2cm;
    margin-left: 40px;
    vertical-align:text-top;
}

.formgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-family: 'Dosis', sans-serif;
    border: 2px solid black;
    padding: 5px;
}

.general {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.general div {
    margin: 5px;
}

#id_quantity {
    width: 50px;
    font-family: 'Dosis', sans-serif;
}

#id_idnumber {
    font-family: 'Dosis', sans-serif;
}


#id_year {
    font-family: 'Dosis', sans-serif;
}

#id_bug{
    font-family: 'Dosis', sans-serif;
}

#id_room {
    font-family: 'Dosis', sans-serif;
}

.bold {
    font-weight: bold;
}


.width {
    max-width: 10px;
    margin-right: 20px;
}

table, th, td {
    border: 1px solid black;
}

table {
    font-family: 'Dosis', sans-serif;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
}

