<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/qualitychecks/rschijfcheck.css' %}">
    <title>R-Schijf Quality</title>
</head>
<body>
    <h1>R-Schijf Quality Checks</h1>
    <div>
        <button onclick="window.location.href='/'" class="dashboardbutton">Home</button>
    </div>
</body>
</html>