.body {
    background-color: #fefefa;
}

.homegrid {
    display: grid;
    grid-template-columns: 25% 70% 5%;
    object-fit: cover;
}

.homebutton {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    margin-left: 10px;
    font-size: 15px;
}

.homebutton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.images {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image {
    object-fit: cover;
    width: 90%;
    margin-top: 10px;
    margin-left: 5px;
    object-position: center center;
}

.image2 {
    object-fit: cover;
    width: 90%;
    margin-top: 20px;
    margin-left: 5px;
    object-position: center center; 
}

.leftbanner {
    display: grid;
    grid-template-rows: 30% 70%;
}

.leftbox {
    margin: 15px;
    padding: 15px;
    background-color: #fefefa;
    border-radius: 10px;
    border: 2px solid darkcyan;
    min-height: 500px;
}

.line {
    margin: 5px;
    margin-top: 10px;
    background-color: darkcyan;
    height: 4px;
    border-radius: 10px;
}


.header {
    width: 100%;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2cm;
    margin-left: 40px;
    vertical-align:text-top;
}

.list {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
 
.table {
    font-family: 'Dosis', sans-serif;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
}

.title {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.grid {
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
}

.options {
    display: grid;
    grid-template-columns: 50% 50%;
} 

p {
    height: 20px;
}

#id_filterterm {
    font-family: 'Dosis', sans-serif;
    height: 20px;
    margin-top: 15px;
}

#id_association {
    font-family: 'Dosis', sans-serif;
    height: 20px;
    margin-top: 15px;   
}

#id_full_collection {
    font-family: 'Dosis', sans-serif;
    height: 20px;   
    margin-top: 15px;
}



