<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/manuals/faq.css' %}">
    <title>FAQs</title>
</head>
<body>
    <div class='homegrid'>
        <div class='leftbanner'>
            <div class='images'>
                <img class='image' src="\static\images\logohva08e8de.jpeg">
                <img class='image2' src="\static\images\faqs.png">
            </div>
        </div>
        <div class='main'>
            <div class='header'>
                <h1>FAQs</h1>
            </div>
        </div>
        <div class='rightbanner'>
        </div>
    </div>
    <div class='homegrid'>
        <div>
            <div class='leftbox'>
                <div>
                    <button onclick="window.location.href='/'" class="homebutton">HOME</button>
                </div>
                <div class='line'>
                </div>
            </div>
        </div>
        <div>
            <div class='leftbox'>
            </div>
        </div>
    </div>
</body>
</html>